apache-airflow
requests
torch
pymongo
numpy
scikit-learn
mlflow
pytorch-lightning
hiddenlayer
pandas
pyyaml
matplotlib
ipython
seaborn
gensim
nltk
airflow
torchvision
psycopg2
h5py
scipy
tqdm
tensorboardX
Pillow
tabulate